/* variable declarations */
:root {
    --myapp-color-background: limegreen;
}

html, body {
    background-color: var(--myapp-color-background);
    margin: 0px;
    font-family: "Avenir Medium", sans-serif;
    color: white;
    width: 100%;
    max-width: 100%;
    min-height: 100%;

}


/* block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}



.background-image {
    position: fixed;
    left: -15%;
    top: -15%;
    z-index: 1;
    display: block;
    background-image: url('/css/img/we own the night.jpg');
    background-size: cover;
    background-position: center;
    width: 130%;
    height: 130%;
    filter: blur(50px) saturate(1.6) brightness(0.6);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}


/* override some default bootstrap styles */
.list-group .list-group-item {
    background: none;
    border: none;
    height: 5rem;
    line-height: 0.9rem;
    padding: 12px;
    color: white;
}
.list-group .list-group-item .cover-art {
    height: 100%;
    border-radius: .5rem;
}
.list-group .list-group-item .title {
    font-size: 1rem;
}
.list-group .list-group-item .duration {
    font-size: 0.6rem;
}
.list-group .list-group-item .artist{
    font-size: 0.6rem;
}

.list-group .list-group-item.active {
    background: #ffffff33;
    border-radius: 1rem;
    border: none;
}

.playlist {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    height: 60vh;

    overflow: hidden;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.playlist::-webkit-scrollbar {
    display: none;
}
