/* variable declarations */
:root {
    --myapp-color-background: limegreen;
}

html, body {
    background-color: var(--myapp-color-background);
    margin: 0px;
    font-family: "Avenir Medium", sans-serif;
    color: white;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

/* block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
